/WebsiteBlazor/.vs/
/WebsiteBlazor/.vs/WebsiteBlazor/v17/.suo
/WebsiteBlazor/.vs/WebsiteBlazor/v17/DocumentLayout.backup.json
/WebsiteBlazor/.vs/WebsiteBlazor/v17/DocumentLayout.json
/WebsiteBlazor/obj/Release/net8.0/compressed
/WebsiteBlazor/obj

/nipoondo.github.io/WebsiteBlazor/.vs/
/nipoondo.github.io/WebsiteBlazor/.vs/WebsiteBlazor/v17/.suo
/nipoondo.github.io/WebsiteBlazor/.vs/WebsiteBlazor/v17/DocumentLayout.backup.json
/nipoondo.github.io/WebsiteBlazor/.vs/WebsiteBlazor/v17/DocumentLayout.json
/nipoondo.github.io/WebsiteBlazor/obj/Release/net8.0/compressed
/nipoondo.github.io/WebsiteBlazor/obj
